input[type=text]{
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
}

input[type=submit] {
    background-color: #818181;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    size: 90%;
    font-size: 100%;
}