.true {
 text-decoration: line-through;
}

.false{
 text-decoration: none;
}

button{
    background-color: #1890ff;
    color: white;
    float: right;
    cursor: grab;
    border: none;
    padding: 10px 15px;
}

/* #todo{

    font-family: cursive;
    font-style: oblique;
    color: oldlace;
} */

/* width */
.todo-group::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .todoitem::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  .todoitem::-webkit-scrollbar-button {
    display: block;
  }
  
  /* Handle */
  .todoitem::-webkit-scrollbar-thumb {
    background:#ccc;
    border-radius: 30px;
  }
  /* Handle on hover */
  .todoitem::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .todogroup{
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
    border-style: outset;
    border-width: 5px;


  }