#toDoList{
    background-color: #2D323D;
    padding: 10px 40px 60px 40px;
}

ul.striped-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

ul.striped-list > li:nth-of-type(odd) {
    background-color: #282c34 ;
}

ul.striped-list > li {
    padding: 6px;
}

ul.striped-list > li:last-child {
    border-bottom: none;
}