/* ul.striped-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
 
ul.striped-list > li:nth-of-type(odd) {
    background-color: #2d79ac ;
}
 
ul.striped-list > li {
    padding: 6px;
}
 
ul.striped-list > li:last-child {
    border-bottom: none;
} */
