.site-layout-background{
background-color: white;
}
  .logo {
    height: 250px;
    align-content: center;
    background-image: url("image/logo4.png");
    background-repeat: no-repeat;
    background-size: auto;
  }

.sider{
  background-color: oldlace;
}

li.ant-list-item{
  color: black;
  text-align: center;
  border-radius: 2px;
  border: 1px solid black;
  padding: 6px;
  margin: 0px;
}

ul.striped-list{
  padding: 0px;
}

li.ant-list-item:hover{
  background-color: #1890ff;
  color: white;
  text-align: center;
}

h1{
  color: white;
}

.ant-layout-header.site-layout-background {
  background-color: #002140;
  
}
